<h2>Celebrity Info</h2>

{{#with celebrity}}
  <p>
    Name:
    {{name}}
  </p>
  <p>
    Occupation:
    {{occupation}}
  </p>
  <p>
    CatchPhrase:
    {{catchPhrase}}
  </p>

  <a href='/celebrities'>Back to Celebrities</a>

  <a href='/celebrities/{{_id}}/edit'>Edit this celebrity</a>

{{/with}}